<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_AM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleDoDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MemberDoJoinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberLoginServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleDoModifyServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleDoModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberJoinServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MemberJoinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleDoWriteServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleDoWriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleWriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberDoLoginServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MemberDoLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleModifyServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberDoLogoutServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MemberDoLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.MainPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.KMS.java.AM.servlet.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <url-pattern>/article/doDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <url-pattern>/member/doJoin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleDoModifyServlet</servlet-name>
    <url-pattern>/article/doModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberJoinServlet</servlet-name>
    <url-pattern>/member/join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleDoWriteServlet</servlet-name>
    <url-pattern>/article/doWrite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <url-pattern>/article/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberDoLoginServlet</servlet-name>
    <url-pattern>/member/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleModifyServlet</servlet-name>
    <url-pattern>/article/modify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <url-pattern>/article/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberDoLogoutServlet</servlet-name>
    <url-pattern>/member/doLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/home/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/article/list</url-pattern>
  </servlet-mapping>
</web-app>